Repository Tinkoff/kora, pull requests merged in 2023-07, with the labels that each got.

#184 @Repository tests reinforced
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/AbstractRepositoryTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcParametersTest.java
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/AbstractRepositoryTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcParametersTest.kt
Labels: tests

#183 OpenAPI generation Kotlin Server fixed
  build.gradle
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApi.mustache
Labels: bug, module: openapi

#188 Context#fork() optimisation
  common/src/main/java/ru/tinkoff/kora/common/Context.java
  common/src/main/java/ru/tinkoff/kora/common/Principal.java
Labels: minor improvement

#171 HTTP Server trailing slash support
  http/http-server-annotation-processor/src/main/java/ru/tinkoff/kora/http/server/annotation/processor/RequestHandlerGenerator.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/HttpServerConfig.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/HttpServerModule.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/PrivateApiHandler.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/PathTemplate.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/PathTemplateMatcher.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/PublicApiHandler.java
  http/http-server-common/src/test/java/ru/tinkoff/kora/http/server/common/router/PathTemplateMatcherAddTests.java
  http/http-server-common/src/test/java/ru/tinkoff/kora/http/server/common/router/PathTemplateMatcherMatchTests.java
  http/http-server-common/src/test/java/ru/tinkoff/kora/http/server/common/router/PublicApiHandlerProcessTests.java
  http/http-server-common/src/test/java/ru/tinkoff/kora/http/server/common/router/PublicApiHandlerTest.java
  http/http-server-common/src/testFixtures/java/ru/tinkoff/kora/http/server/common/HttpServerTestKit.java
  http/http-server-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/server/symbol/procesor/RouteProcessor.kt
Labels: bug, minor improvement, module: http-server

#172 @Json nullable serialization support
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/CommonUtils.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/JsonTypes.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/writer/JsonClassWriterMeta.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/writer/JsonWriterGenerator.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/writer/WriterTypeMetaParser.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/JsonIncludeTest.java
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/annotation/Json.java
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/annotation/JsonInclude.java
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/annotation/JsonSkip.java
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/annotation/JsonWriter.java
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/JsonProcessor.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/JsonSymbolProcessor.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/JsonTypes.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/KnownType.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/extension/JsonKoraExtension.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/JsonClassWriterMeta.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/JsonWriterGenerator.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/WriterFieldType.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/WriterTypeMetaParser.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/GenericsTest.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/JsonIncludeTest.kt
  symbol-processor-common/src/main/kotlin/ru/tinkoff/kora/ksp/common/CommonClassNames.kt
Labels: minor improvement, module: json

#189 Error message improvements
  aop/aop-annotation-processor/src/main/java/ru/tinkoff/kora/aop/annotation/processor/AopAnnotationProcessor.java
  aop/aop-symbol-processor/src/main/kotlin/ru/tinkoff/kora/aop/symbol/processor/AopSymbolProcessor.kt
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/reader/ReaderTypeMetaParser.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphBuilder.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/DependencyTest.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessorTest.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/GraphBuilder.kt
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/declaration/ComponentDeclaration.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppKspTest.kt
Labels: minor improvement

#141 Logging improvements
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/GraphImpl.java
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/KoraApplication.java
  cache/cache-caffeine/src/main/java/ru/tinkoff/kora/cache/caffeine/CaffeineCache.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/RedisCache.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/client/DefaultLettuceCommander.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraDatabase.java
  database/database-common/src/main/java/ru/tinkoff/kora/database/common/telemetry/DataBaseLogger.java
  database/database-common/src/main/java/ru/tinkoff/kora/database/common/telemetry/DataBaseLoggerFactory.java
  database/database-common/src/main/java/ru/tinkoff/kora/database/common/telemetry/DataBaseTelemetryFactory.java
  database/database-common/src/main/java/ru/tinkoff/kora/database/common/telemetry/DefaultDataBaseLogger.java
  database/database-common/src/main/java/ru/tinkoff/kora/database/common/telemetry/DefaultDataBaseTelemetry.java
  database/database-common/src/main/java/ru/tinkoff/kora/database/common/telemetry/DefaultDataBaseTelemetryFactory.java
  database/database-flyway/src/main/java/ru/tinkoff/kora/database/flyway/FlywayJdbcDatabaseInterceptor.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcDatabase.java
  database/database-r2dbc/src/main/java/ru/tinkoff/kora/database/r2dbc/R2dbcDatabase.java
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/VertxDatabase.java
  grpc/src/main/java/ru/tinkoff/kora/grpc/GrpcServer.java
  grpc/src/main/java/ru/tinkoff/kora/grpc/telemetry/DefaultGrpcServerTelemetry.java
  grpc/src/main/java/ru/tinkoff/kora/grpc/telemetry/Slf4jGrpcServerLogger.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetry.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/Sl4fjHttpClientLogger.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/HttpHeaders.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/HttpServerModule.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/PublicApiHandler.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/DefaultHttpServerTelemetry.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/HttpServerLogger.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/HttpServerTelemetry.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/HttpServerTracer.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/Slf4jHttpServerLogger.java
  http/http-server-common/src/testFixtures/java/ru/tinkoff/kora/http/server/common/HttpServerTestKit.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServer.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowPrivateHttpServer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaAssignConsumerContainer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaProducerContainer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaSubscribeConsumerContainer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/producer/telemetry/DefaultKafkaProducerLogger.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/AbstractJob.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobRegistrar.java
  validation/validation-common/src/main/java/ru/tinkoff/kora/validation/common/SimpleViolation.java
  validation/validation-common/src/main/java/ru/tinkoff/kora/validation/common/ValidationContext.java
Labels: minor improvement

#194 doc fixes
  mkdocs/docs/features/junit5.md
  mkdocs/docs/features/validation.md
  mkdocs/mkdocs.yml
Labels: documentation

#205 EnumJsonReader error message fixed
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/EnumJsonReader.java
Labels: minor improvement, module: json

#201 Database module fixes
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/CommonUtils.java
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/MethodUtils.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/CacheKeyAnnotationProcessor.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/CacheOperationManager.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheInvalidateAopKoraAspect.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CachePutAopKoraAspect.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheableAopKoraAspect.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcNativeType.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/extension/JdbcTypesExtensionFactory.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/r2dbc/R2dbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/r2dbc/extension/R2dbcTypesExtension.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/r2dbc/extension/R2dbcTypesExtensionFactory.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/vertx/VertxRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/vertx/extension/VertxTypesExtensionFactory.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/ExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/CassandraEntity.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEntity.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/r2dbc/R2dbcEntity.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/r2dbc/R2dbcExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/vertx/VertxEntity.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/mapper/result/CassandraReactiveResultSetMapper.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/mapper/result/CassandraResultSetMapper.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/PostgresJdbcCrudRepository.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/mapper/result/JdbcResultColumnMapper.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/mapper/result/JdbcResultSetMapper.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/mapper/result/JdbcResultStatementMapper.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/mapper/result/JdbcRowMapper.java
  database/database-r2dbc/src/main/java/ru/tinkoff/kora/database/r2dbc/mapper/parameter/R2dbcParameterColumnMapper.java
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntity.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcEntity.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/r2dbc/R2dbcEntity.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/vertx/VertxEntity.kt
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/VertxRepositoryHelper.java
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/mapper/parameter/VertxParameterColumnMapper.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/CircuitBreakerKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/FallbackKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/RetryableKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/TimeoutKoraAspect.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/aop/ValidateMethodKoraAspect.java
Labels: bug, module: database

#230 Cassandra module additional date time types support
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraNativeTypes.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/extension/CassandraTypesExtension.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/r2dbc/R2dbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/vertx/VertxRepositoryGenerator.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraModule.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraNativeTypes.kt
  mkdocs/mkdocs.yml
Labels: bug, module: database
